.button {
    -fx-background-color: rgba(255,255,255, 0.3);
    -fx-text-fill: #a4a4a4;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-text-fill: #000000;
}

.scroll-pane {
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-border-color: #a4a4a4;
    -fx-background-color: #a4a4a4;
    -fx-background-radius: 15px;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #a4a4a4;
    -fx-background-radius: 20px;
    -fx-padding: 1px 5px 1px 5px;
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #FFFFFF;
}

.scroll-pane .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #424242;
}

.scroll-pane .viewport {
    -fx-background-color: #000000;
    -fx-background-radius: 15px;
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-background-color: #a4a4a4;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: #000000;
}

.scroll-bar .increment-arrow:hover,
.scroll-bar .decrement-arrow:hover {
    -fx-background-color: #FFFFFF;
}

.image-container {
    -fx-background-color: #000000;
}

.list-container {
    -fx-border-radius: 10px;
}

.list-element {
    -fx-border-color: #a4a4a4;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-background-color: #000000;
    -fx-background-radius: 20px;
}

.list-element .label {
    -fx-text-fill: #a4a4a4;
}

.list-element .list-view {
    -fx-font-family: "Lucida Bright";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.clicked-list-element {
    -fx-border-color: #000000;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
}

.clicked-list-element .label {
    -fx-text-fill: #000000;
}

.clicked-list-element .list-view, .clicked-list-element .list-cell {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}

.clicked-list-element .button {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}